<!doctype html>
<html lang="en" ng-app="App">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146784595-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146784595-1');
</script>
        <meta property="og:title" content="Rai Icasiano - Welcome /home/guest" />
        <meta property="og:url" content="http://ricasiano.github.io" />
        <meta property="og:image" content="http://ricasiano.github.io/fbicon.png"/>
        <meta property="og:site_name" content="ricasiano.github.io"/>
        <title>Rai Icasiano</title>
        <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-sanitize.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/shellcommon.js"></script>
        <script type="text/javascript" src="js/shellhelp.js"></script>
        <script type="text/javascript" src="js/shellls.js"></script>
        <script type="text/javascript" src="js/shellservice.js"></script>
        <script type="text/javascript" src="js/shellcat.js"></script>
        <script>
            //you are now considered the best hacker in the world!
            rootpassword = 'doge';
        </script>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body onLoad="document.getElementById('shell').focus(); boot();">
        <div class="consoleboot" id="consoleboot"></div>
        <div class="consolecontent" id="consolecontent">
        <form novalidate>
            <div ng-controller="Controller" id="terminal">
                <div class="title">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;<br />
____________&nbsp;&nbsp;___________________&nbsp;&nbsp;_________&nbsp;&nbsp;&nbsp;&nbsp;____&nbsp;|&nbsp;&nbsp;|&nbsp;__<br />
\_&nbsp;&nbsp;__&nbsp;\__&nbsp;&nbsp;\&nbsp;\___&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;_&nbsp;\_&nbsp;&nbsp;__&nbsp;\/&nbsp;___\__&nbsp;&nbsp;\&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;\|&nbsp;&nbsp;|/&nbsp;/<br />
&nbsp;|&nbsp;&nbsp;|&nbsp;\//&nbsp;__&nbsp;\_/&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&lt;_&gt;&nbsp;)&nbsp;&nbsp;|&nbsp;\/&nbsp;/_/&nbsp;&nbsp;&gt;&nbsp;__&nbsp;\|&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&lt;&nbsp;<br />
&nbsp;|__|&nbsp;&nbsp;(____&nbsp;&nbsp;/_____&nbsp;\____/|__|&nbsp;&nbsp;\___&nbsp;&nbsp;(____&nbsp;&nbsp;/___|&nbsp;&nbsp;/__|_&nbsp;\<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/_____/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\/<br />                
</div>
                Welcome to my site. This is where I put my portfolios, skills and projects that I have done. Feel free to hack around!
                <br />
                <span class="note"><b>Note:</b></span> Don't want to get through this fancy command-line interface? Click <a href="http://ricasiano.github.io"><b>here</b></a>.
                <br />
                <br />
                Last login: <?php echo date('D M d H:i:s Y'); ?> from <?php echo $_SERVER['REMOTE_ADDR']; ?><br />
                <br /><br />
                Type '<b>help</b>' for command-line help.<br />
                <div class="consoleresponse" ng-bind-html="containertext"></div>
                <span class="shellcontainer">[guest@razorgank ~] $ </span><span class="passwordcontainer">Password: </span><input type="text" class="shell" id="shell" ng-model="shell.prompt" maxlength="30" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" />
                
                <button ng-click="update(shell)" class="carriage">SAVE</button>
                <br /><br /><br /><br />
                <br /><br /><br /><br />
                <a name="endterminal"></a>
            </div> 
        </form>
        </div>
    </body>
</html>
